html{
    --color-primary: #011f96;
    --color-secondary: #00f4f7;

    --color-background-gray: #f6f9fb;
    --color-background-gray-dark: #a9f0f4;

    --color-font-gray: #919497;

    --border-radius: 10px;

    --text-color: black;
}